html {
    background-color: #588adb;
    color:black;
    font-family: Arial;
}

body {
    padding: 5%;
}

#menuTitle{
    font-size: 34px;
}

#menuContainer{
    background: white;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    padding: 10px 50px 20px 50px;
    text-align: center;
    box-shadow: -5px 5px 5px rgb(0,0,0,0.2);
    max-width: 90%;
    box-sizing: border-box;
    font-size: 24px;
}

.dropdown {
    position: relative;
    display: block;
    margin: 30px 0;
}

.dropdownTitle{
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: #eeeeee ;
    cursor: pointer;
}

.dropdownTitle:hover{
    background-color: #e9e9e9;
}

.dropdown-content {
    display: block;
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    box-sizing: border-box;
    opacity: 0%;
}

.dropdown-content a{
    display: block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    text-decoration: none;
}

a:visited , a:link{
    color: unset;
}

.dropdown-content a:hover{
    background-color: #e9e9e9;
}

.dropdown:hover{
    background-color: #e9e9e9;
}

.dropdown:hover > .dropdown-content {
    visibility: visible;
    opacity: 100%;
    transition: .2s;
}