<!doctype html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Score a project</title>
</head>
<body>
    <div class="menuBtn"><a href="/menu">Menu</a></div>
    <div id="formContainer">
        <h1>Score a project</h1>
        <h4>To continue, please enter your email.</h4>
        <form name="score-email" action="/judging/scoreform" method="POST">
            <input type="email" id="email" name="email" placeholder="name@example.com"> <br>
            <input type="submit" name="submit" value="Next">
        </form>
    </div>
</body>
