<!doctype html>
<head>
    <link rel="stylesheet" href="../static/menustyle.css">
</head>
<title>Menu - Hackathon Judging System</title>
<body>
    <div id="menuContainer">
        <h1 id="menuTitle">Hackathon Judging System</h1>
        <div class="dropdown">
            <div class="dropdownTitle">Links for Attendees</div>
            <div class="dropdown-content">
                <a href="/register/attendee">Register for the Hackathon</a>
                <a href="/project/create">Create a Team/Project</a>
                <a href="/project/join">Join a Team/Project</a>
                <a href="/project/submitforprize">Submit a Project for a Prize</a>
              </div>
        </div>
        <div class="dropdown">
            <div class="dropdownTitle">Links for Judges</div>
            <div class="dropdown-content">
                <a href="/register/judge">Register to be a Judge</a>
                <a href="/judging/score">Judge a Project</a>
              </div>
        </div>
        <div class="dropdown">
            <div class="dropdownTitle">Links for Organizers</div>
            <div class="dropdown-content">
                <a href="/winners">See Winners</a>
                <a href="/judging/assignJudges">Assign Judges</a>
              </div>
        </div>
    </div>
</body>