<!doctype html>
<head>
    <link rel="stylesheet" href="../static/style.css">
</head>
<title>Project Creation Confirmation</title>
<body>
    <div class="menuBtn"><a href="/menu">Menu</a></div>
    <div id="confirmationContainer">
        <h1 id="confirmationTitle">Your project, {{ name }}, has been created!</h1>
        <div class="confirmationInfo">The new project id is: <p class="important">{{id}}</p> Save this in a secure place!</div>
        <div class="confirmationInfo">Be sure to go <a href="/project/join">join</a> your project and have your teammates do the same!</div>
    </div>
</body>